
.control_label1 {
	font-family: "Open Sans", sans-serif;
	color : black;
	font-size : small;
	text-align : left;
}

.control_label2 {
	font-family: monospace;
	color : #666666;
	font-size : small;
	text-align : left;
}

.control_label3{
	font-family: "Open Sans", sans-serif;
	color : #000099;
	font-size : small;
	text-align : left;
}

.control_label4{
	font-family: "Open Sans", sans-serif;
	color : black;
	font-size : large;
	text-align : left;
}

.control_button1 {
	font-family: "Open Sans", sans-serif;
	color : black;
	font-size : small;
	text-align : center;
}

.tbl {display:none;}

.container{
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
  display:inline-block;
  margin:16px 10px 5px 5px;
  vertical-align:top;
}
.progressbar {
  color: #fff;
  text-align: right;
  height: 25px;
  width: 0;
  background-color: #0ba1b5;
  border-radius: 3px;
}

body {
  display: inline;
  background-color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  min-width: 565px;
}

select {
  font-family: inherit;
}

input {
  font-family: inherit;
}

input[type="button"] {
  font-family: "Open Sans", sans-serif;
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
  border-radius: 3px;
  
}

input[type="button"]:hover:enabled {
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.08) 75%, rgba(0, 0, 0, 0));
}

ul {
  list-style-type: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

a {
  text-decoration: none;
  color: #0000cc;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

#newCFGSNIPPET_KEY_SELECTEDcheckbox input[type=checkbox],
#newRUN_CONFIG_SELECTEDcheckbox input[type=checkbox],
#newMASKED_RESOURCEScheckbox input[type=checkbox]{
	visibility: hidden;
}
#masked_resources_area{
  padding-top: 8px;
	display: none;
  margin: auto;
  margin-top: 12px;
  text-align: center;
  font-size: 12px;
  max-width: 800px;
  border: 1px solid lightgray;
  border-radius: 4px;
}
#maintable {
  width: 100%;
}

#maintable table {
  width: 100%;
  background-color: #fdfdfd;
  border: 0px solid black;
}
#FMPilotForm {
  background-color: #fdfdfd;
  border: 0px solid black;
  display: inline!important;
}
#hcalmaintable textarea { 
  width:100%;
  font-family: monospace;
}
#hcalmaintable .parameterInputField { 
  width:100%;
  font-family: monospace;
}

.header {
  color: #1a3262f0;
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
}

#versionInfo {
  text-align: left;
}

#footer {
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#footer a {
  color: #0000cc;
} 

#hostport {
  font-size: 8px;
}

#hcaltitle {
  font-size: 32px;
  margin: auto;
  text-align: center;
  font-weight:600;
  color: #1a3262cc;
}

#logospot {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font: 28px Helvetica;
  color: #f0f0f0;
  border: 1px #a2a6cc solid;
  padding-top: 18px;
  border-radius: 22px;
  background-color: #1a3262cc;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 18px;
}

.maskModes {
  display: inline-block;
  margin-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  border-radius: 5px;
}

.control_wrapper {
  position: relative;
  left: -15px;
  display: flex;
  pointer-events: none;
}

.control__indicator {
  width: 11px;
  height: 11px;
  padding-right: 2px;
  display: inline-block;
  z-index: 10;
  pointer-events: none;
  position: relative;
  top: 5px;
  left: -1px;
}

.radio_wrapper {
  position: relative;
  left: -15px;
  display: flex;
  pointer-events: none;
}

.radio__indicator {
  width: 11px;
  height: 11px;
  padding-right:2px;
  display: inline-block;
  z-index: 10;
  pointer-events: none;
  position: relative;
  top: 5px;
  left: -1px;
}

.partitionSelection {
  display: none;
}

.partitionSelection input{
  z-index: 11;
  opacity: 0;
  float: left;
}

.partitionSelection li {
  display: table;
}

.partitionSelection img {
  width: 14px;
}

.partitionSelection span {
  width: 14px;
  position: relative;
  left: -1px;
  top: -3px;
}

#header{
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
  background-color: #f0f0f0;
  z-index: 1;
}

#headerWrapper{
  display: flex;
  max-width: 1080px;
  margin: auto;
  width: 95%;
}

#wrapper{
  width: 100%;
  display: grid;
  position:absolute;
  top:0;
}

#frameworkLinks {
  background-color: #1a3262cc;
  font-family: "Open Sans",sans-serif;
  height: 24px;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0px 0px 4px #aaaaaa;
  z-index: 0;
  display: block;
}

#frameworkLinks p {
  display: inline-block;
  margin-top: 3px;
}

.menuLinkEnabled > a {
  color: #f0f0f0;
  font-size: 12px;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
} 

#frameworkLinks > a {
  color: #f0f0f0;
}

.menuLinkDisabled{
  display: none !important;
} 

#middle {
  background-color: #fbfbfb;
}

#center {
  background-color: #fbfbfb;
  margin: auto;
  width: 95%;
  max-width: 1080px;
}

#versionInfo p {
  margin-top: 0px;
  margin-bottom: 1px;
}

.controlSection > div {
  display: inline;
}

#stateSection {
  display: inline-block;
  vertical-align: middle;
}

#stateAndProgress {
  display: inline-block;
  vertical-align: top;
}

#runControlSection input {
  width: 95px;
  margin-bottom: 1px;
}

#controls {
  display: inline-block;
  vertical-align: middle;
  padding-top: 12px;
  min-height: 70px;
}

#controls div {
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
}

#runControlSection {
  display: inline-block;
  vertical-align: middle;
}

#runkeysAndCommands {
  display: inline-block;
}
#commandSection {
  display: inline-block;
  min-height: 24px;
  padding-bottom: 8px;
  margin-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

#MASK_SUMMARY {
  width: 100%;
}

#bottom {
    background-color: #f0f0f0;
    border-top: 1px solid #dddddd;
}

#runkeySelection {
  display: inline-block;
  vertical-align: top;
}

#elogInfo {
  display: inline;
  font-family: monospace;
  padding-left: 12px;
  padding-right: 12px;
}

#eventsAndActionMessage {
  border-bottom: 1px solid lightgray;
}
#eventsAndActionMessage div {
  display: inline-block;
}

#eventsAndActionMessage ul {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
  padding-left: 0;
}
#eventsAndActionMessage li {
  white-space: nowrap;
}
.parameterName {
    width: 130px;
    margin: auto;
}
.hcalfmParameter > input {
    border: none;
    background-color: inherit;
    font-family: monospace;
    max-width: 300px;
    font-size: 13px;

}
#customizationsSection {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}
#quickInfo {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
}
#rsName {
  display: inline-block;
  max-width: 265px;
  direction: rtl;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
#fmName {
  display: inline-block;
  max-width: 239px;
  direction: rtl;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

#importantInfo {
  width: 100%;
  padding-top: 10px;
  display: inline-block;
  text-align: left;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  padding-bottom: 6px;
  border-bottom: 1px solid lightgray;
}
#importantInfo > div {
  display: inline-block;
  font-size: larger;
  margin-left: 12px;
}
#importantInfo > div > div{
  display: inline-block;
}
.bigInfo {
  white-space: nowrap;
  direction: rtl;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  display: block;
  color: #284f99;
}
#runNumArea {
   display: inline-block;
}
#runNumber {
  max-width: 80px;
  text-align: left;
}

#configNameArea{
  display:inline-block;
}
#configName{
  max-width:380px;
}

#runKeyArea {
  display: inline-block;
}
#runKey {
  max-width: 380px;
}
#spectatorInfo {
  display: none;
  margin-left: 20px;
  margin-top: 4px;
  border: 1px solid lightgray;
  color: #273d73;
  border-radius: 4px;
  background: #ffff99;
  padding: 4px;
  white-space: nowrap;
}

#HCAL_EVENTSTAKEN{
    border: 0px solid black;
    background-color: unset;
    font-family: unset;
    font-size: unset;
    width:72px;
    text-align: right;
}

#newNUMBER_OF_EVENTS input[type="text"]:disabled {
    border: 0px solid black;
    background-color: unset;
    font-family: unset;
    font-size: unset;
}

#newACTION_MSG {
  min-width:620px;
}
#ACTION_MSG {
  font-family: Helvetica;
  max-width: unset;
  width:100%;
}
#maskSummary {
  font-family: Helvetica;
  max-width: unset;
  width:100%;
  color: gray;
}
#maskSummaryArea {
  min-width:620px;
}
#drive {
  color: #ef8700;
}
#infoSection {
  margin-top: 6px;
}
.tooltip {
  display: none;
  border: 1px solid lightgray;
  overflow: scroll;
  background-color: #ffffff;
}
.tooltip textarea {
  width:100%;
  height:40px;
}
